/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
#logo{
    margin: 0% 0%;
    display: inline-block;
}
.navigation {
    margin: 3% 9%;
    /*border: 2px solid blue;*/
    display: flex;
}
.navigation nav{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /*border: 2px solid red;*/
    width: 100%;
}
.navigation nav a{
    text-decoration: none;
    color: black;
}
.headerimg{
    width:100%;
    margin: 1% 9%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

header .about-page{
    border-bottom: 2px dotted black;
}
header h2{
    margin: 2% 0% 1% 1% 
}
header p{
    margin: 2% 0% 1% 1% 
}
p {
    line-height: 1.4;
}
.blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.strategy, .HowWeWork{
    width: 45%;
    margin: 4% 2%;
    border-bottom: 1px dashed black;

}
.Places, .collaboration{
    width: 45%;
    margin: 4% 2%;
    border-bottom: 1px dashed black;
}
.HowWeWork img{
    margin: 0% 0% 4% 0%;
    width: 100%;
}
.Places img{
    margin: 0% 0% 4% 0%;
    width: 100%;
} 
.collaboration img{
    margin: 0% 0% 4% 0%;
    width: 100%;
}
.strategy img{
    margin: 0% 0% 4% 0%;
    width: 100%;
}
.buttonstyle{
    border: 2px solid black;
    width: 40%;
    text-align: center;
    padding: 2.5% 0%;
    border-radius: 8px;
    margin: 6% 0%;
    /*font-size: 14px;*/
}
#together {
    margin: 2% 0% 6% 0%;
    padding: 1% 0% 0% 2%;
    /*border: 2px solid black;*/
}
.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
   * border-bottom: 1px dashed black;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}